<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="shortcut icon" href="/img/focus.png"/>
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">


    <title>Products</title>
</head>

<body>
    <div class="container-fluid  high-size">
        <div class="container-fluid  bg-white h-100 width-custom">
            <div class="row h-100">
                <div class="col-md-5 bg-kaya101 h-75 w-100 d-inline-block mx-auto">
                    <div class="row mx-auto">
                        <div class="col-12 purple-area"> <img src="img/focus.png" alt="logo" class="logo-size"> firat kaya/Products
                        </div>
                        <div class="col-12 text-center mt-4">
                            <img class="letter-size" src="img/form.png" alt="pictures">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 bg-white h-75 w-100 d-inline-block ">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarbuton" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarbuton">
                            <ul class="nav mx-auto mt-4">
                                <li class="nav-item">
                                    <a class="nav-link" id="actives-nav-item" th:href="@{/index}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/contact}">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/products}">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/team}">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/blog}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-kaya-purple" href="#">Projects</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-md-12">
                        <h2 class="white-area-text">Best Gui Design For You </h2>
                        <p>
                            Ücretsiz 20 den fazla uygun form tasarımı bulabilir ve bunları kendi sistemine entegre edebilirsin. Daha fazlasını görmek ve test edebilmek için devam etmen yeterli.
                        </p>
                        <ul>
                            <li>
                                <p>Tüm tasarımlar HTML/CSS ile oluşturulmuştur.</p>
                            </li>
                            <li>
                                <p>Ücretsiz tasarımlar herkese açıktır.Gui bilgisi kısmından kodları indirebilir ve kullanabilirsiniz.</p>
                            </li>
                            <li>
                                <p>Tasarımlarımız tarayıcıları desteklemekte ve entegre bir şekilde çalışabilmektedir.</p>
                            </li>
                            <li>
                                <p>Tüm tasarımlar mobil uyumludur.</p>
                            </li>
                            <li>
                                <p>Ücretli tasarımlara erişebilmek için lütfen bizimle <a href="contact.html">iletişim</a> kurun.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="text-right bg-send-message"><a class="p-3" href="forms.html">Continue &rarr;</a></div>
                    </div>
                    <div class="col-md-12 margin-resize">
                        <div class="row w-100 ">
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 bg-white h-75 w-100 d-inline-block">
                    <div class="col-md-12 mt-4">
                        <h2 class="white-area-text">Login Gui Design</h2>
                        <p>
                            Ücretsiz 20 den fazla uygun form tasarımı bulabilir ve bunları kendi sistemine entegre edebilirsin. Daha fazlasını görmek ve test edebilmek için devam etmen yeterli.
                        </p>
                        <ul>
                            <li>
                                <p>Tüm tasarımlar HTML/CSS ile oluşturulmuştur.</p>
                            </li>
                            <li>
                                <p>Ücretsiz tasarımlar herkese açıktır.Gui bilgisi kısmından kodları indirebilir ve kullanabilirsiniz.</p>
                            </li>
                            <li>
                                <p>Tasarımlarımız tarayıcıları desteklemekte ve entegre bir şekilde çalışabilmektedir.</p>
                            </li>
                            <li>
                                <p>Tüm tasarımlar mobil uyumludur.</p>
                            </li>
                            <li>
                                <p>Ücretli tasarımlara erişebilmek için lütfen bizimle <a href="contact.html">iletişim</a> kurun.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="text-right bg-send-message"><a class="p-3" href="#">Continue &rarr;</a></div>
                    </div>
                    <div class="col-md-12 margin-resize">
                        <div class="row w-100 mb-4">
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 bg-kaya101 h-75 w-100 d-inline-block mx-auto">
                    <div class="row h-100 mx-auto">
                        <div class="col-md-12 d-inline-block position-absolute">
                            <img class="logo-size5 float-right mr-2" src="img/new.png" alt="new">
                        </div>
                        <div class="col-12 purple-area"> <img src="img/focus.png" alt="logo" class="logo-size">
                            <p> firat kaya/Products</p>
                        </div>
                        <div class="col-12 text-center mb-4">
                            <img class="letter-size mb-4" src="img/login.png" alt="pictures">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 bg-kaya101 h-75 w-100 d-inline-block mx-auto">
                    <div class="row mx-auto">
                        <div class="col-12 purple-area"> <img src="img/focus.png" alt="logo" class="logo-size">
                            <p> firat kaya/Products</p>
                        </div>
                        <div class="col-12 text-center mt-4">
                            <img class="letter-size" src="img/switch.png" alt="pictures">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 bg-white h-75 w-100 d-inline-block ">
                    <div class="col-md-12">
                        <h2 class="white-area-text">Buttons,Switch Bars and More packages are here </h2>
                        <p>
                            Ücretsiz 20 den fazla uygun form tasarımı bulabilir ve bunları kendi sistemine entegre edebilirsin. Daha fazlasını görmek ve test edebilmek için devam etmen yeterli.
                        </p>
                        <ul>
                            <li>
                                <p>Tüm tasarımlar HTML/CSS ile oluşturulmuştur.</p>
                            </li>
                            <li>
                                <p>Ücretsiz tasarımlar herkese açıktır.Gui bilgisi kısmından kodları indirebilir ve kullanabilirsiniz.</p>
                            </li>
                            <li>
                                <p>Tasarımlarımız tarayıcıları desteklemekte ve entegre bir şekilde çalışabilmektedir.</p>
                            </li>
                            <li>
                                <p>Tüm tasarımlar mobil uyumludur.</p>
                            </li>
                            <li>
                                <p>Ücretli tasarımlara erişebilmek için lütfen bizimle <a href="contact.html">iletişim</a> kurun.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="text-right bg-send-message"><a class="p-3" href="#">Continue &rarr;</a></div>
                    </div>
                    <div class="col-md-12 margin-resize">
                        <div class="row w-100 ">
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                            <div class="col-2"><img class="logo-size" src="img/star.png" alt="star"></div>
                        </div>
                    </div>
                </div>
                <div class="w-100 h-50 bg-white">
                    <div class="squarem">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12"><img class="logo-size4" src="img/buy.png" alt="buy"></div>
                                    <div class="col-md-12">
                                        <p>Security Pay</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12"><img class="logo-size4" src="img/paper-plane.png" alt="deliver"></div>
                                    <div class="col-md-12">
                                        <p>Fast Deliver</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12"><img class="logo-size4" src="img/review.png" alt="review"></div>
                                    <div class="col-md-12">
                                        <p>High Satisfaction</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <p class="font-quest">Do you have more question ? </p>
                                <p style="color: purple;"><a style="text-decoration: none;color: purple;" href="contact.html"><u>Contact</u></a> with us</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" border-casual navbar-down ">
        <div class="row bg-dark p-4">
            <div class="col-md-3">
                <div class="row ">
                    <div class="col-md-12 p-2">
                        <h3><a href="#">References</a></h3>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#"><img class="logo-size3" src="/img/vegetable.png" alt="references"> Vegatabacco Caffe</a>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#"><img class="logo-size3" src="/img/backpack.png" alt="references"> School Manangement Systems</a>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#"><img class="logo-size3" src="/img/coffee.png" alt="references"> Sonakaa Pub</a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <h3><a href="#">About Us</a></h3>
                    </div>
                    <div class="col-md-12 p-2"><a href="#">Team</a></div>
                    <div class="col-md-12 p-2"><a href="#">Jobs</a></div>
                    <div class="col-md-12 p-2"><a href="#">Why F.K</a></div>
                    <div class="col-md-12 p-2"><a href="#">Technologies</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <h3><a href="#">Products</a></h3>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#">How to Buy</a></div>
                    <div class="col-md-12 p-2">
                        <a href="#">Selling</a></div>
                    <div class="col-md-12 p-2"><a href="#">Information</a></div>
                    <div class="col-md-12 p-2"><a href="#">Help</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <h3>Where we are</h3>
                    </div>
                    <div class="col-md-12 p-2">Map</div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <hr class="bg-white">
                <p class="text-center">
                    <a href="https://kayafirat.com"> Fırat Kaya All Right Reserved &copy; 2020 www.kayafirat.com </a></p>
                <hr class="bg-white">

            </div>
        </div>
    </div>
    <script src="/js/jquery-3.4.1.min.js "></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>