<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="shortcut icon" href="/img/focus.png"/>
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">


    <title>Technologies</title>
</head>

<body>
    <div class="container-fluid bg-purple high-size">
        <div class="container-fluid  bg-white width-custom">
            <div class="row">
                <div class="col-md-5 d-inline-block">
                    <div class="row mx-auto">
                        <div class="col-12 team-area"> <img src="/img/focus.png" alt="logo" class="logo-size"> firat kaya/Technologies
                        </div>
                    </div>
                </div>
                <div class="col-md-7 d-inline-block">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav mx-auto mt-4">
                                <li class="nav-item">
                                    <a class="nav-link"  th:href="@{/index}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/contact}">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/products}">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/team}">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="actives-nav-item" th:href="@{/blog}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-kaya-purple" href="#">Projects</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-12 mt-4 mb-4 text-center">
                    <p class="reality-senteces">We are using these technologies when we need.</p>
                </div>
                <div class="col-md-6 text-center mb-4">
                    <img src="/img/java.svg" class="svg-career-logos" alt="java">
                </div>
                <div class="col-md-6 text-center mb-4">
                    <img src="/img/jsp.svg" class="svg-career-logos" alt="jsp">
                </div>
                <div class="col-md-4 text-center mt-4"><img src="/img/html.svg" class="svg-career-logos" alt="html"></div>
                <div class="col-md-4 text-center mt-4"><img src="/img/css.svg" class="svg-career-logos" alt="css"></div>
                <div class="col-md-4 text-center mt-4"><img src="/img/js.png" class="svg-career-logos" alt="css"></div>
                <div class="w-100 mt-4 mb-4"></div>
                <div class="col-md-12 text-center mt-4 mb-4"><img src="img/mysql.svg" class="svg-career-logos1" alt="mysql"></div>
                <div class="col-md-12 mt-4 mb-4">
                    <p class="reality-senteces text-center">Do you want to more learn than what we know ? </p>
                </div>
                <div class="col-md-12 mt-4 mb-4 text-center">
                    <a href="#">
                        Contact us.
                    </a>
                </div>
                <div class="col-md-4 mt-4 mb-4">
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="#html">HTML</a>
                        <a class="list-group-item list-group-item-action" href="#css">CSS</a>
                        <a class="list-group-item list-group-item-action" href="#js">JavaScript</a>
                        <a class="list-group-item list-group-item-action" href="#jsp">JSP</a>
                        <a class="list-group-item list-group-item-action" href="#java">JAVA</a>
                        <a class="list-group-item list-group-item-action" href="#mysql">MySQL</a>
                    </div>
                </div>
                <div class="col-md-8 mt-4 mb-4">
                    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                        <h4 id="list-item-1">HTML</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia nostrum cum asperiores optio accusantium itaque. Debitis, qui illum? Molestias explicabo, corrupti sit at tempora maxime repellendus ipsum totam libero!</p>
                        <h4 id="list-item-2">CSS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia nostrum cum asperiores optio accusantium itaque. Debitis, qui illum? Molestias explicabo, corrupti sit at tempora maxime repellendus ipsum totam libero!</p>
                        <h4 id="list-item-3">JavaScript</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia nostrum cum asperiores optio accusantium itaque. Debitis, qui illum? Molestias explicabo, corrupti sit at tempora maxime repellendus ipsum totam libero!</p>
                        <h4 id="list-item-4">JAVA</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia nostrum cum asperiores optio accusantium itaque. Debitis, qui illum? Molestias explicabo, corrupti sit at tempora maxime repellendus ipsum totam libero!</p>
                        <h4 id="list-item-4">JSP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia nostrum cum asperiores optio accusantium itaque. Debitis, qui illum? Molestias explicabo, corrupti sit at tempora maxime repellendus ipsum totam libero!</p>
                        <h4 id="list-item-4">MySQL</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia nostrum cum asperiores optio accusantium itaque. Debitis, qui illum? Molestias explicabo, corrupti sit at tempora maxime repellendus ipsum totam libero!</p>
                    </div>
                </div>
            </div>    
          </div>
        </div>
    
    
    
    
    <div class="border-casual position-absoute d-inline-block">
        <div class="row bg-dark p-4">
            <div class="col-md-3">
                <div class="row ">
                    <div class="col-md-12 p-2">
                        <h3><a href="#">References</a></h3>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#"><img class="logo-size3" src="/img/vegetable.png" alt="references"> Vegatabacco Caffe</a>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#"><img class="logo-size3" src="/img/backpack.png" alt="references"> School Manangement Systems</a>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#"><img class="logo-size3" src="/img/coffee.png" alt="references"> Sonakaa Pub</a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <h3><a href="#">About Us</a></h3>
                    </div>
                    <div class="col-md-12 p-2"><a href="#">Team</a></div>
                    <div class="col-md-12 p-2"><a href="#">Jobs</a></div>
                    <div class="col-md-12 p-2"><a href="#">Why F.K</a></div>
                    <div class="col-md-12 p-2"><a href="#">Technologies</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <h3><a href="#">Products</a></h3>
                    </div>
                    <div class="col-md-12 p-2">
                        <a href="#">How to Buy</a></div>
                    <div class="col-md-12 p-2">
                        <a href="#">Selling</a></div>
                    <div class="col-md-12 p-2"><a href="#">Information</a></div>
                    <div class="col-md-12 p-2"><a href="#">Help</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <h3>Where we are</h3>
                    </div>
                    <div class="col-md-12 p-2">Map</div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <hr class="bg-white">
                <p class="text-center">
                    <a href="https://kayafirat.com"> Fırat Kaya All Right Reserved &copy; 2020 www.kayafirat.com </a></p>
                <hr class="bg-white">

            </div>
        </div>
    </div>
    
    <script src="/js/jquery-3.4.1.min.js "></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>